<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Login</title>
  <script src="/app/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/app/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/app/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/site.css" />

  <script src="/app/node_modules/angular/angular.min.js"></script>
  <script src="./auth.module.js"></script>
  <script src="./auth.controller.js"></script>
</head>

<body class="container" ng-app="auth" ng-controller="auth-login">
  <main class="row">

    <h2> Log In </h2>

    <p class="alert alert-info">
      Please enter your username and password or <a href='register.html'>Register</a> if you don't have an account.
    </p>
    <p class="alert alert-danger" ng-show="errorMessage">
    </p>
    <p class="alert alert-success" ng-show="successMessage" ng-bind="successMessage"></p>

    <div>
      <form method="post" name="login-form" ng-submit="doLogin(this)">
        <fieldset>
          <legend>
            Account Information
          </legend>
          <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input name="username" class="form-control" autocomplete="off" ng-model="username" />
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" class="form-control" ng-model="password" />
          </div>
          <div class="checkbox">
            <label><input id="rememberMe" type="checkbox" name="rememberMe" /> Keep me logged in</label>
          </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Log In" />
      </form>
    </div>

  </main>
</body>

</html>